<% provide(:title, "Calendar") %>
<div class = "body" id="<%= "program" if params[:controller] == "calendar" %>">
  <table>
    <tr>
      <td class="calendar">
        <div class="schedule">
          <h3>Fall Semester</h3>
          <br>
          <div class="image">
            <%=link_to( image_tag("Fall_semester_Math.png",class: "picture"), image_path("Fall_semester_Math.png"),class: "thickbox"  ) %>
          </div>
        </div>
          <div class="schedule">
            <h3>Spring Semester</h3>
            <br>
            <div class="image">
              <%=link_to( image_tag("Spring_semester_Math.png",class: "picture"), image_path("Spring_semester_Math.png"),class: "thickbox"  ) %>
            </div>
          </div>
      </td>
      <td class="calendar">
        <div class="schedule">
          <h3>Midterm</h3>
          <br>
          <div class="image">
            <%=link_to( image_tag("MAT final 2013-2014.png",class: "picture"), image_path("MAT final 2013-2014.png"),class: "thickbox"  ) %>
          </div>
        </div>
        <div class="schedule">
          <h3>Final</h3>
          <br>
          <div class="image">
            <%=link_to( image_tag("MAT final 2013-2014.png",class: "picture"), image_path("MAT final 2013-2014.png"),class: "thickbox"  ) %>
          </div>
        </div>
      </td>
      <td class="calendar" style="border: none">
        <div class="schedule">
          <h3>Downloads</h3>
          <br>
          <%= link_to "Fall Semester","/data/Fall_semester_Mat.xlsx",class: "downloads" %> <br>
          <%= link_to "Spring Semester","/data/Sprin_ semester_Mat.xlsx",class: "downloads" %> <br>
          <%= link_to "Midterm","/data/MAT_final.xlsx",class: "downloads" %> <br>
          <%= link_to "Final","/data/MAT_midterm.xlsx",class: "downloads" %><br>
          <%= link_to "Academic Calendar","/data/Academic_Calendar_ENG",class: "downloads" %>  <br>
        </div>
      </td>
    </tr>
  </table>
</div>