<% provide(:title, "Faculty") %>
<div class = "body" id="<%= "faculty" if params[:controller] == "faculties" %>">
  <div style = "width:100px;height:50px;"></div>
  <div class = "body_main">
    <ul>
      <% @faculties.each do |faculty| %>
          <div class="list">
            <li>
              <%= image_tag "li.png" %>
              <%= faculty.name %>
            </li>
                <div style="clear: both;" ></div>
              <p style="margin-left:30px;font-family:Verdana;color:white; float:left; line-height:25px; text-align:left; font-size:15px;">
                <span style=color:rgb(105,175,0);>Position:</span> <%= faculty.position %><br>
                <span style=color:rgb(105,175,0);>Degree:</span><%= faculty.degree %><br>
                <span style=color:rgb(105,175,0);>Office:</span><%= faculty.office %><br>
                <span style=color:rgb(105,175,0);>Office time:</span><%= faculty.office_time %><br>
                <span style=color:rgb(105,175,0);>Phone:</span><%= faculty.phone %><br>
                <span style=color:rgb(105,175,0);>E-mail:</span> <%= faculty.email %><br>
              </p>
            <div style="clear: both;" ></div>
              <p id ="<%= faculty.name %>" class = "hidden" style="margin-left:30px;font-family:Verdana; color:white;line-height:25px;text-align:left;font-size:15px;">
                <%= faculty.other %>
              </p>
              <br style="clear: left;" />
          </div>
          <br style="clear: left;" />
      <% end %>
    </ul>
  </div>
  <div style = "width:100px;height:50px;"></div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.list').click(function() {
            $(this).find(".hidden").slideToggle('fast');
        });
    });
</script>