<% provide(:title, "Programs") %>
<div class = "body" id="<%= "program" if params[:controller] == "programs" %>">
  <div style = "width:100px;height:50px;"></div>
  <div class = "body_main">
    <h3 style = "color:white;font-weight:400;">Mathematical and natural sciences subjects</h3>
    <ul>
      <% @programs.each do |program| %>
        <div class="list">
            <li>
              <%= image_tag "li.png" %>
              <%= program.title %>
            </li>
              <p id = "<%= program.title %>" class = "hidden" style="color:white;line-height:25px;text-align:left;font-size:15px;">
                <%= program.content %>
              </p>
              <br style="clear: left;" />
        </div>
      <% end %>
     </ul>
  </div>
  <div style = "width:100px;height:50px;"></div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.list').click(function() {
            $(this).find(".hidden").slideToggle('fast');
        });
    });
</script>