<div class = "navigation_bot">
  <div class = "bottom">
    <%= link_to "IAAU mail","https://www.google.com/a/iaau.edu.kg/",target: "_blank", class:"bottom_links" %>
    <!--<a class="bottom_links" href = "home.html">-->
    <!--IAAU mail-->
    <!--</a>-->
  </div>
  <div class = "bottom">
    <%= link_to "OCS","http://ocs.iaau.edu.kg",target: "_blank", class:"bottom_links" %>
    <!--<a class="bottom_links"  href = "home.html">-->
    <!--OCS-->
    <!--</a>-->
  </div>
  <div class = "bottom">
    <%= link_to "Library","http://library.iaau.edu.kg",target: "_blank", class:"bottom_links" %>
    <!--<a class="bottom_links"  href = "home.html">-->
    <!--Library-->
    <!--</a>-->
  </div>
  <div class = "bottom">
    <%= link_to "Admin","/admin",target: "_blank", class:"pAdmin", :class => "bottom_links" %>
    <!--<a class="bottom_links"  href = "home.html">-->
    <!--Admin-->
    <!--</a>-->
  </div>
  <br style="clear: left;" />
</div>
  <div class = "last_hit">

    <p class = "devel"><b><span style=color:rgb(105,175,0);>I</span>nternational <span style=color:rgb(105,175,0);>A</span>taturk <span style=color:rgb(105,175,0);>A</span>latoo <span style=color:rgb(105,175,0);>U</span>niversity</b><br>
      <span>Developed and Designed by I.Toychuev,&nbsp;V.Son,&nbsp;T.Hegai,&nbsp;F.Babazov</span>
    </p>
    <p class = "modif">Last modified: 20.12.2013</p>
    <p class = "afo">
      <%= image_tag "quot.png"%>
      <!--<img src ="img/quot.png"/>-->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An optimist may see a light where there is none,<br>
      but why must the pessimist always run to blow it out? <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span style = font-size:13px;>
				- Rene Descartes
			</span>&nbsp;
      <%= image_tag "quote.png" %>
      <!--<img src ="img/quote.png"/>-->
    </p>
  </div>