<div class = "wrapper">
  <div class = "top_line"></div>
  <div class = "top">
    <%= image_tag ("icon.png"),{:class => 'icon'} %>
    <p class = "math"><span class = "weight"><span style=color:rgb(105,175,0);>I</span>nternational <span style=color:rgb(105,175,0);>A</span>taturk- <span style=color:rgb(105,175,0);>A</span>latoo <span style=color:rgb(105,175,0);>U</span>niversity</span></br>
      <span style=color:rgb(105,175,0);>A</span>pplied <span style=color:rgb(105,175,0);>M</span>athematics and <span style=color:rgb(105,175,0);>I</span>nformatics</p>
  </div>
  <div class = "navigation">
    <div  class = "top_divs" id="<%= "highlighted" if params[:controller] == "welcome" %>">
      <%= image_tag "home.png",class: "top_image" %>
      <%= link_to "Home",{:controller => 'welcome'}, class:"top_links" %>
    </div>
    <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "about" %>">
      <%= image_tag "about.png",class: "top_img" %>
      <%= link_to "About",{:controller => 'about'}, class:"top_links" %>
    </div>
    <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "programs" %>">
      <%= image_tag "prog.png",class: "top_image" %>
      <%= link_to "Program",{:controller => 'programs'}, class:"top_links" %>
    </div>
    <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "faculties" %>">
      <%= image_tag "fac.png",class: "top_image" %>
      <%= link_to "Faculty",{:controller => 'faculties'}, class:"top_links" %>
    </div>
    <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "calendar" %>">
      <%= image_tag "cal.png",class: "top_image" %>
      <%= link_to "Calendar",{:controller => 'calendar'}, class:"top_links" %>
    </div>
    <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "contacts" %>">
      <%= image_tag "cont.png",class: "top_image" %>
      <%= link_to "Contacts",{:controller => 'contacts'}, class:"top_links" %>
    </div>
    <div class = "top_divs">
      <%= image_tag "iaau.png",class: "top_img" %>
      <%= link_to "IAAU","http://iaau.edu.kg/",target: "_blank", class:"top_links" %>
    </div>
  </div>
</div>
