<!DOCTYPE html>
<html>
<head>
  <meta carset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= yield(:title)%></title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery", "data-turbolinks-track" => true  %>
</head>
<body>

    <div class = "wrapper">
      <div class = "top_line"></div>
      <div class = "top">
        <%= image_tag ("icon.png"),{:class => 'icon'} %>
        <!--<img class = "icon" src = "img/icon.png">-->
        <p class = "math"><span style=color:rgb(105,175,0);>I</span>nternational <span style=color:rgb(105,175,0);>A</span>taturk- <span style=color:rgb(105,175,0);>A</span>latoo <span style=color:rgb(105,175,0);>U</span>niversity</br>
          <span class = "weight"><span style=color:rgb(105,175,0);>A</span>pplied <span style=color:rgb(105,175,0);>M</span>athematics and <span style=color:rgb(105,175,0);>I</span>nformatics</span></p>
      </div>
      <div class = "navigation">
        <div  class = "top_divs" id="<%= "highlighted" if params[:controller] == "welcome" %>">
          <%= image_tag "home.png",class: "top_image" %>
          <%= link_to "Home",{:controller => 'welcome'}, class:"top_links" %>
          <!--<a href = "home.html">-->
            <!--<img class = "top_image" src = "img/home.png">-->
            <!--<span class="top_links">Home</span>-->
            <!--</img>-->
          <!--</a>-->
        </div>
        <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "welcome" %>">
          <%= image_tag "about.png",class: "top_img" %>
          <%= link_to "About",{:controller => 'welcome'}, class:"top_links" %>
          <!--<a href = "home.html">-->
            <!--<img class = "top_img" src = "img/about.png">-->
            <!--<span class = "top_links">About</span>-->
            <!--</img>-->
          <!--</a>-->
        </div>
        <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "programs" %>">
          <%= image_tag "prog.png",class: "top_image" %>
          <%= link_to "Program",{:controller => 'programs'}, class:"top_links" %>
          <!--<a href = "home.html">-->
            <!--<img class = "top_image" src = "img/prog.png">-->
            <!--<span class = "top_links">Program</span>-->
            <!--</img>-->
          <!--</a>-->
        </div>
        <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "faculties" %>">
          <%= image_tag "fac.png",class: "top_image" %>
          <%= link_to "Faculty",{:controller => 'faculties'}, class:"top_links" %>
          <!--<a href = "home.html">-->
            <!--<img class = "top_image" src = "img/fac.png">-->
            <!--<span class = "top_links">Faculty</span>-->
            <!--</img>-->
          <!--</a>-->
        </div>
        <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "welcome" %>">
          <%= image_tag "cal.png",class: "top_image" %>
          <%= link_to "Calendar",{:controller => 'welcome'}, class:"top_links" %>
          <!--<a href = "home.html">-->
            <!--<img class = "top_image" src = "img/cal.png">-->
            <!--<span class = "top_links">Calendar</span>-->
            <!--</img>-->
          <!--</a>-->
        </div>
        <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "welcome" %>">
          <%= image_tag "cont.png",class: "top_image" %>
          <%= link_to "Contacts",{:controller => 'welcome'}, class:"top_links" %>
          <!--<a href = "home.html">-->
            <!--<img class = "top_image" src = "img/cont.png">-->
            <!--<span class = "top_links">Contacts</span>-->
            <!--</img>-->
          <!--</a>-->
        </div>
        <div class = "top_divs" id="<%= "highlighted" if params[:controller] == "welcome" %>">
          <%= image_tag "iaau.png",class: "top_img" %>
          <%= link_to "IAAU","http://iaau.edu.kg/",target: "_blank", class:"top_links" %>
          <!--<a href = "home.html">-->
            <!--<img class = "top_img" src = "img/iaau.png">-->
            <!--<span class = "top_links">IAAU</span>-->
            <!--</img>-->
          <!--</a>-->
        </div>
      </div>
    </div>

     <%= yield %>
    <div class = "navigation_bot">
      <div class = "bottom">
        <%= link_to "IAAU mail","https://www.google.com/a/iaau.edu.kg/",target: "_blank", class:"bottom_links" %>
        <!--<a class="bottom_links" href = "home.html">-->
          <!--IAAU mail-->
        <!--</a>-->
      </div>
      <div class = "bottom">
        <%= link_to "OCS","http://ocs.iaau.edu.kg",target: "_blank", class:"bottom_links" %>
        <!--<a class="bottom_links"  href = "home.html">-->
          <!--OCS-->
        <!--</a>-->
      </div>
      <div class = "bottom">
        <%= link_to "Library","http://library.iaau.edu.kg",target: "_blank", class:"bottom_links" %>
        <!--<a class="bottom_links"  href = "home.html">-->
          <!--Library-->
        <!--</a>-->
      </div>
      <div class = "bottom">
        <%= link_to "Admin","/admin",target: "_blank", class:"pAdmin", :class => "bottom_links" %>
        <!--<a class="bottom_links"  href = "home.html">-->
          <!--Admin-->
        <!--</a>-->
      </div>
      <br style="clear: left;" />
      <div class = "end2"></div>
    </div>
    <div class = "last_hit">

      <p class = "devel"><b>International Ataturk Alatoo University</b><br>
        <span>Developed and Designed by I.Toychuev,V.Son,T.Hegai,F.Babazov</span>
      </p>
      <p class = "modif">Last modified: 20.12.2013</p>
      <p class = "afo">
        <%= image_tag "quot.png"%>
        <!--<img src ="img/quot.png"/>-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An optimist may see a light where there is none,<br>
        but why must the pessimist always run to blow it out? <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span style = font-size:13px;>
				- Rene Descartes
			</span>&nbsp;
        <%= image_tag "quote.png" %>
        <!--<img src ="img/quote.png"/>-->
      </p>
    </div>
</body>
</html>
